// Color variables

$hivebio-green:                 #28c816;

$brand-primary:                 $hivebio-green;
$brand-primary-dark:            shade($brand-primary, 10%);
$brand-primary-darker:          shade($brand-primary, 20%);
$brand-primary-darkest:         shade($brand-primary, 30%);

$text-bright:                   #fff;
$text-dim:                      #000;
